# Week 3 in class practice

## 1. Checkout

In [39]:
## --- Input Section ---
## task: 使用者輸入最多三項之金額
item1 = input("請輸入金額 - 物品1: ")
item2 = input("請輸入金額 - 物品2: ")
item3 = input("請輸入金額 - 物品3: ")

請輸入金額 - 物品1:
請輸入金額 - 物品2:
請輸入金額 - 物品3: 100

In [40]:
## --- Program Section ---
## task: 計算總金額
total = int("0" + item1) + int("0" + item2) + int("0" + item3)

In [41]:
## --- Output Section ---
## task: 顯示金額
print("總額：" + str(total) + "元")

總額：100元

## 2. Dynasty year span

In [42]:
# retrieved from 
# https://zh.wikipedia.org/wiki/%E4%B8%AD%E5%9B%BD%E5%8E%86%E5%8F%B2%E5%B9%B4%E8%A1%A8
唐 = "690-705"
宋 = "960-1279"
元 = "1271-1368"
明 = "1368-1644"
清 = "1636-1912"

In [44]:
# program starts here
dynasty = input("輸入朝代名: ")
year_span = eval(dynasty)
print("朝代起迄（西元年）：")
print(year_span)

輸入朝代名: 元
朝代起迄（西元年）：
1271-1368

## 3. Currency exchange

In [34]:
## --- Input Section ---
print("支援幣別：USD/HKD/GBP/JPY/EUR/KRW/MYR/CNY")
currency_label = input("以台幣兌換之幣別: ")
value_str = input("兌換金額（目標幣別）: ")

支援幣別：USD/HKD/GBP/JPY/EUR/KRW/MYR/CNY
以台幣兌換之幣別: JPY
兌換金額（目標幣別）: 10000

In [35]:
## --- Program Section ---
# currency retrieved on 2018-09-06
# https://rate.bot.com.tw/xrt?Lang=zh-TW
# 現金買入
USD = 30.37     # 美金
HKD = 3.756     # 港幣
GBP = 38.56     # 英磅
JPY = 0.2673    # 日圓
EUR = 34.97     # 歐元
KRW = 0.02569   # 韓元
MYR = 6.331     # 馬來幣
CNY = 4.4       # 人民幣

In [36]:
## --- Out Section ---
value = int(value_str)
rate = eval(currency_label)
exchanged = value * rate
print("需台幣" + str(exchanged) + "元")

需台幣2673.0元